@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Fredericka+the+Great&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    background-color: #000000;
    color: #fafafa;
}

body{
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
}

/*would like to make menu persistant so that it stays on the top*/
#menu {
    background-color:black;
    color: white;

    /*font-family: 'Cinzel Decorative', cursive;*/
    /*font-family: 'Fredericka the Great', cursive;*/
}

#menu h1 {
font-family: 'Fredericka the Great', 'Courier New', Courier, monospace;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-left: 5%;
    padding-bottom: 5%;
}

/*Attributes of menu links in default state*/
#menu a {
    text-decoration: none;
    color: white;
}

/*Attributes of menu links in hover state.*/
#menu a:hover {
    border-bottom: 1px solid #fafafa;
}

.container{
    position:relative;
}

/* Bottom right text */
.text-background-right {
    position: relative;
    top: 5%;
    left: 5%;
    width:30%;
    /*Not sure why this isn't working. It was before.*/
    border-radius: 10px;
    background-color: rgba(0,0,0,.1);

    /*what's up with the background? Not transparent as it should be */
    background:transparent;

    /*Not working yet. would like it to slide*/
    animation-name: box-slide-right;
    animation-duration: 5s;
    animation-fill-mode: forwards;
  }
