@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Fredericka+the+Great&family=Special+Elite&display=swap');


/*do I even need this part??*/
* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Special Elite', 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    word-spacing: 2px;
}

/*would like to make menu persistant so that it stays on the top*/
#menu {
    background-color:black;
    color: white;
    vertical-align: middle;

    /*font-family: 'Cinzel Decorative', cursive;*/
    /*font-family: 'Fredericka the Great', cursive;*/
}

#menu h1 {
font-family: 'Fredericka the Great', 'Courier New', Courier, monospace;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    padding-left: 5%;
    padding-bottom: 5%;
}

/*Attributes of menu links in default state*/
#menu a {
    text-decoration: none;
    color: white;
}

/*Attributes of menu links in hover state.*/
#menu a:hover {
    border-bottom: 1px solid #fafafa;
}

.container{
    position:relative;
}

.news-bg{
    background-image:url(/assets/images/main_img_bg.jpg); background-size:cover; height:600px; background-repeat:no-repeat;
}

.about-bg{
    background-image:url(/assets/images/VolapuqueSofa.jpg); background-size:cover; height:600px; background-repeat:no-repeat;

}
.disco-bg{
    background-image:url(/assets/images/disco_bg.jpg); background-size:cover; height:600px; background-repeat:no-repeat;
}

.contact-bg{
    background-image:url(/assets/images/disco_bg2.jpg); background-size:cover; height:600px; background-repeat:no-repeat;
}

/* Bottom right text */
.text-background-right {
    position: relative;
    top: 5%;
    left: 5%;
    width:30%;
    padding:1%;
    color:#fafafa;
    border-radius: 10px;
    background-color: rgba(0,0,0,.25);
    
    /*Animation Controls*/
    animation-name: box-slide-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes box-slide-right {
      from{
          transform:translateX(-20%);
      }
      to{
          transform: translateX(0);
      }
  }

  .title {

    background-color: rgba(255,255,255,.75);
    color: #000000;
    font-size: 200%;
    transform: skew(30deg);

    /*Animation Controls*/
    animation-name: box-slide-right;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  #over-text{
      background:transparent;
      color:#fafafa;
      
  }
  /*------------------------------------------------------------------------------------------------*/
  /*Media Queries Section:*/
  @media only screen and (max-width: 750px) {

    #menu h1{
        font-size: x-large;
        text-align: center;
        margin-bottom: 20px;
        display:list-item;
    }

    #menu li{
        
        float:left;
        font-size: small;
        list-style-type: none;
        margin-right: auto;
        margin-right: 30px;
    }

    /*Body*/
    .about-bg{
        background-image:url(/assets/images/VolapuqueSofa.jpg); background-size:cover; max-height:200px; background-repeat:no-repeat;    
        }


    .container{
        /*Needs something to scale down the image so it fits full size. Currently image's style is embedded in html. Needs way around that.*/
        display:block;
    }

    /* Bottom right text scaled down */
.text-background-right {
    position: absolute;
    
    color:#fafafa;
    background-color: rgb(0,0,0);
  }

  @keyframes box-slide-right {
      from{
          transform:translateX(-20%);
      }
      to{
          transform: translateX(0);
      }
  }
   
    .title {

        background-color: rgba(255,255,255,.75);
        color: #000000;
        font-size: 120%;
        transform: skew(30deg);
    
        /*Animation Controls*/
        animation-name: box-slide-right;
        animation-duration: 1s;
        animation-fill-mode: forwards;
      }

      @keyframes box-slide-right {
        from{
            transform:translateX(-20%);
        }
        to{
            transform: translateX(0);
        }
    }

    
    /*Footer*/


  }